*{
    text-align: center;
    
}

label{
    display: block;
    margin: 1%;
    font-size: large;
}


#price, #money{
    border-radius: 15px;
}

button{
    padding: 8px;
    border-radius: 25px;
    background-color: green;
    color: #fff;
    margin: 2%;
    font-size: small;
    font-weight: bold;
}

#result{
    font-weight: bold;
    font-size: larger;
}