*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem;
}
h1 {
    text-align: center;
    margin: 1rem;
}
.generations-container{
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    text-align: center;
}
form input{
    border-radius: 15px;
}
#search, .generations{
    margin: 1rem;
    padding: 0.5rem;
}
.generations{
    background-color: #1f1f1f;
    color: #fff;
    border-radius: 5px;
}



.cards-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 1rem;
    
}
.cards{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 2rem;
    position: relative;
    width: 220px;
    height: auto;
    background-color: gray;
    margin: auto;
    border-radius: 1rem;


}

.character, .types, .character-id{
    text-align: center;
    padding: 0.5rem;
}

img{
    margin: auto;
    display: block;
    padding: 2rem;
    width: 140px;
    height: 140px;
    background-color: aliceblue;
    border-radius: 1rem;

}
.type{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.generation{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    border-radius: 50%;
    background-color: green;
    padding: 0.5rem;

}

.type, .types2, .generation, .character, .types, .character-id{
    color: #fff;
}

.types-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


